/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar-bg{
    background: #fff
}
.border-width{
    border: 5px
}
.review {
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    padding-bottom: 5%;
    background: #fff;
}

    .review h1 {
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000
    }

        .review h1 span {
            margin-left: 15px;
            color: #fac031;
            font-family: mv boli;
        }

            .review h1 span::after {
                content: '';
                width: 100%;
                height: 2px;
                background: #fac031;
                position: relative;
                bottom: 15px;
                display: block;
            }

    .review .review_box {
        width: 95%;
        margin: 5% auto;
        display: flex;
    }

        .review .review_box .review_card {
            width: 350px;
            height: 535px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.5);
            border-radius: 8px;
            padding: 8px 20px;
            margin: 0 8px;
            background: #f4a259;
            color: #fff
        }

            .review .review_box .review_card .review_profile {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transition: 0.3s;
            }

            .review .review_box .review_card:hover .review_profile {
                transform: translateY(-60px);
            }

            .review .review_box .review_card .review_profile img {
                width: 180px;
                height: 180px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                border: 5px solid #cccccc;
            }

            .review .review_box .review_card .review_text {
                text-align: center;
            }

                .review .review_box .review_card .review_text .name {
                    color: #000;
                    transition: 0.3s;
                }

            .review .review_box .review_card:hover .review_text .name {
                transform: translateY(-50px);
            }

            .review .review_box .review_card .review_text .review_icon {
                color: #fac031;
                transition: 0.3s;
            }

            .review .review_box .review_card:hover .review_text .review_icon {
                transform: translateY(-30px);
            }

            .review .review_box .review_card .review_text .review_social i {
                margin: 5px 1px;
                font-size: 15px;
                opacity: 0;
                cursor: pointer;
                transition: 0.3s;
            }

            .review .review_box .review_card:hover .review_text .review_social i {
                opacity: 1;
                transform: translateY(-8px);
            }

            .review .review_box .review_card .review_text p {
                text-align: center;
                line-height: 22px;
                transition: 0.3s;
            }

            .review .review_box .review_card:hover .review_text p {
                margin-top: 5px;
            }
.icon-color {
    color: #8CB369
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height*/ 
    margin-bottom: 3%;
   
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: #fff;
    margin-top: 2%;
    line-height: 60px;  Vertically center the text there 
}

